apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-cats-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-cats-app
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: chat-cats-app
    spec:
      containers:
      - env:
        -
          name: DISCORD_TOKEN
          valueFrom:
            secretKeyRef:
              name: discord
              key: DISCORD_TOKEN
        -
          name: PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: discord
              key: PUBLIC_KEY
        -
          name: APP_ID
          valueFrom:
            secretKeyRef:
              name: discord
              key: APP_ID
      - name: chat-cats-pod      
        image: registry.xahnet.net/chat-cats:$CI_COMMIT_SHA